h1 {
    font-family: 'ZCOOL XiaoWei', 'Open sans';
    font-size: 30px;
    color: rgb(7, 8, 8);
}

h2 {
    font-family: 'Roboto', 'Open sans';
    font-size: 20px;
    color: rgb(56, 53, 53);
}

h3 {
    font-family: 'Monteserrat', 'Open sans';
    font-size: 20px;
    color: rgb(56, 53, 53);
}

p {
    font-family: 'Montserrat', serif;
    font-size: 14px;
}

.navbar {
    background-image: linear-gradient(to right, #2a36d8,blue, rgb(98, 208, 245));
    font-size: 20px;
    font-family: 'Roboto', 'Open sans';
}

.jumbotron {
    margin: 0;
    background-image: linear-gradient(#2a36d8,#4965e2,rgb(142, 198, 250));
}

.breadcrumb {
    background-image: linear-gradient(to right,rgb(98, 208, 245), blue, #2a36d8);
    font-size: 20px;
}

footer {
    background-color: rgb(250, 244, 244);
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
    padding-top: 3rem;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }

  body {
    padding-bottom: 3rem;
    color: #5a5a5a;
  }
