h1 {
    font-family: 'ZCOOL XiaoWei', 'Open sans';
    font-size: 30px;
    color: rgb(7, 8, 8);
}

h2 {
    font-family: 'Roboto', 'Open sans';
    font-size: 20px;
    color: rgb(56, 53, 53);
}

h3 {
    font-family: 'Monteserrat', 'Open sans';
    font-size: 20px;
    color: rgb(56, 53, 53);
}

body {
    font-family: 'Montserrat', serif;
    font-size: 12px;
}

.navbar {
    background-image: linear-gradient(to right, darkblue,blue, rgb(98, 208, 245));
}

.jumbotron {
    margin: 0;
    background-image: linear-gradient(#2a36d8,#4965e2,rgb(142, 198, 250));
}

.intro{
    margin: 0;
}
